# ignore model wheights
models/CONCH_v1/
models/CONCH_v1_5/

# ignore model logs
models/CLAM/results/
models/CLAM/eval_results/

# ignore model splits
models/CLAM/splits/

# ignore hydra outputa
models/CLAM/outputs

# ignore test scripts 
test.py
